* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100%;
}

.slider-1 {
    background-color: hsl(234, 85%, 45%);
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    box-shadow: 0 6px 6px hsl(241, 100%, 89%);
    border-radius: 20px;
    height: 100%;
    width: 20%;
    color: #fff;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1000;
}

.circle {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    text-align: center;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 100px;
    color: white;
    padding: 25px 25px;
}

.circle span {
    color: hsl(241, 100%, 89%);
}

.result {
    color: hsl(241, 100%, 89%);
}

.slider-1 p {
    width: 80%;
    text-align: center;
    color: hsl(241, 100%, 89%);
}

.slider-2 {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 4px 4px hsl(241, 100%, 89%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100%;
    width: 25%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    transform: translateX(-5%);
}

.slider-2 ol li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-2 ol {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sum {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    color: hsl(224, 30%, 27%);
    /* padding: 20px; */
}

.btn-group button {
    background-color: hsl(224, 30%, 27%);
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    border-radius: 30px;
}

.summary-inner {
    display: flex;
    gap: 10px;
}

.one {
    color: hsl(0, 100%, 67%);
}

.red {
    background-color: hsl(0, 100%, 98%);
    padding: 10px;
    border-radius: 10px;
}

.two {
    color: hsl(39, 100%, 56%);
}

.yellow {
    background-color: hsl(39, 78%, 96%);
    padding: 10px;
    border-radius: 10px;
}

.three {
    color: hsl(166, 100%, 37%);
}

.green {
    background-color: hsl(174, 71%, 97%);
    padding: 10px;
    border-radius: 10px;
}

.four {
    color: hsl(234, 85%, 45%);
}


.one,
.two,
.three,
.four {
    font-size: 15px;
}

.blue {
    background-color: hsl(235, 76%, 97%);
    padding: 5px;
    border-radius: 10px;
}

.color {
    color: hsl(241, 100%, 89%);
}

@media screen and (max-width:1000px) {
    .slider-1 {
        width: 100%;
        padding: 10px;
    }

    .wrapper {
        padding: 20px;
        flex-direction: column;
    }

    .slider-2 {
        width: 100%;
        transform: translateX(0);
        transform: translateY(-3%);
    }
}